#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

PEAR_CONFIG_DIR=$(shell pwd)/debian/tmp

PEAR ?= /usr/bin/pear
PEAR += -D php_dir=$(PEAR_CONFIG_DIR)

PEAR_PACKAGE_NAME=PHP_Timer

pear_pkg=$(PEAR_PACKAGE_NAME)-$(DEB_UPSTREAM_VERSION)


update-config::
	mkdir -p $(PEAR_CONFIG_DIR)
	$(PEAR) channel-discover pear.phpunit.de
	$(PEAR) -v -v -v \
	        package package.xml
	tar xvf $(pear_pkg).tgz

reverse-config::
	rm -rf $(PEAR_CONFIG_DIR)
	if [ -f $(pear_pkg).tgz ]; then \
	        rm $(pear_pkg).tgz; \
	fi
	if [ -d $(pear_pkg) ]; then \
	        rm -fr $(pear_pkg); \
	fi

common-binary-predeb-arch::
	find ./ | xargs touch $1

common-binary-predeb-indep::
	find ./ | xargs touch $1
