#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

PEAR_CONFIG_DIR=$(shell pwd)/debian/tmp

PEAR ?= /usr/bin/pear
PEAR += -D php_dir=$(PEAR_CONFIG_DIR)

pear_pkg = $(shell LANG=C pear  -v -v -v info package.xml | grep '^Name' | sed 's/Name *//')-$(DEB_UPSTREAM_VERSION)

update-config::
	mkdir -p $(PEAR_CONFIG_DIR)
	$(PEAR) discover-channel pear.phpunit.de
	$(PEAR) -v -v -v \
	        package package.xml
	tar xvf $(pear_pkg).tgz

reverse-config::
	if [ -f $(pear_pkg).tgz ]; then \
	        rm $(pear_pkg).tgz; \
	fi
	if [ -d $(pear_pkg) ]; then \
	        rm -fr $(pear_pkg); \
	fi

common-binary-predeb-arch::
	find ./ | xargs touch $1

common-binary-predeb-indep::
	find ./ | xargs touch $1
